{% if image_tag != none %}
{{ aws_ecr_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com/conxpert-server:{{ image_tag }}
{% else %}
{{ aws_ecr_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com/conxpert-server:latest
{% endif %}